body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.box {
    border: 3px solid #696969;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #f8f9fa;
    width: 400px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}